<div class="book-consultation-container">
  <div class="card flex justify-center">
    <p-stepper [value]="1" class="basis-[50rem]" [linear]="true">
      <p-step-list>
        <p-step [value]="1"></p-step>
        <p-step [value]="2"></p-step>
        <p-step [value]="3"></p-step>
        <p-step [value]="4"></p-step>
        <p-step [value]="5"></p-step>
      </p-step-list>

      <p-step-panels>
        <!-- Case 1-->
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback">
            <h1>UNO</h1>

            <div class="flex pt-6 justify-end">
              <p-button
                label="Next"
                icon="pi pi-arrow-right"
                iconPos="right"
                (onClick)="activateCallback(2)"
              ></p-button>
            </div>
          </ng-template>
        </p-step-panel>

        <!-- Case 2-->
        <p-step-panel [value]="2">
          <ng-template #content let-activateCallback="activateCallback">
            <h1>DOS</h1>

            <p-button
              label="Back"
              severity="secondary"
              icon="pi pi-arrow-left"
              (onClick)="activateCallback(1)"
            ></p-button>

            <p-button
              label="Next"
              icon="pi pi-arrow-right"
              iconPos="right"
              (onClick)="activateCallback(3)"
            ></p-button>
          </ng-template>
        </p-step-panel>

        <!-- Case 3-->
        <p-step-panel [value]="3">
          <ng-template #content let-activateCallback="activateCallback">
            <h1>TRES</h1>

            <p-button
              label="Back"
              severity="secondary"
              icon="pi pi-arrow-left"
              (onClick)="activateCallback(2)"
            ></p-button>

            <p-button
              label="Next"
              icon="pi pi-arrow-right"
              iconPos="right"
              (onClick)="activateCallback(4)"
            ></p-button>
          </ng-template>
        </p-step-panel>

        <!-- Case 4-->
        <p-step-panel [value]="4">
          <ng-template #content let-activateCallback="activateCallback">
            <h1>TRES</h1>

            <p-button
              label="Back"
              severity="secondary"
              icon="pi pi-arrow-left"
              (onClick)="activateCallback(3)"
            ></p-button>

            <p-button
              label="Next"
              icon="pi pi-arrow-right"
              iconPos="right"
              (onClick)="activateCallback(5)"
            ></p-button>
          </ng-template>
        </p-step-panel>

        <!-- Case 5-->
        <p-step-panel [value]="5">
          <ng-template #content let-activateCallback="activateCallback">
            <h1>TRES</h1>

            <p-button
              label="Back"
              icon="pi pi-arrow-left"
              iconPos="right"
              (onClick)="activateCallback(4)"
            ></p-button>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>
  </div>
</div>
