<div class="book-consultation-container">
  <div class="card flex justify-center">
    <p-stepper [value]="4" class="basis-[50rem]" [linear]="true">
      <p-step-list>
        <p-step [value]="1"></p-step>
        <p-step [value]="2"></p-step>
        <p-step [value]="3"></p-step>
        <p-step [value]="4"></p-step>
        <p-step [value]="5"></p-step>
        <p-step [value]="6"></p-step>
      </p-step-list>

      <p-step-panels>
        <!-- Stage 1-->
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="content-container">
              <app-book-cons-stage-one></app-book-cons-stage-one>
              <div class="content-container__nav">
                <div class="content-container__nav__inner">
                  <div class="btn-placeholder"></div>

                  <p-button
                    label="Next"
                    icon="pi pi-arrow-right"
                    iconPos="right"
                    (onClick)="activateCallback(2)"
                  ></p-button>
                </div>
              </div>
            </div>
          </ng-template>
        </p-step-panel>

        <!-- Stage 2-->
        <p-step-panel [value]="2">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="content-container">
              <app-book-cons-stage-two></app-book-cons-stage-two>

              <div class="content-container__nav">
                <div class="content-container__nav__inner">
                  <p-button
                    label="Back"
                    severity="secondary"
                    icon="pi pi-arrow-left"
                    (onClick)="activateCallback(1)"
                  ></p-button>

                  <p-button
                    label="Next"
                    icon="pi pi-arrow-right"
                    iconPos="right"
                    (onClick)="activateCallback(3)"
                  ></p-button>
                </div>
              </div>
            </div>
          </ng-template>
        </p-step-panel>

        <!-- Stage 3-->
        <p-step-panel [value]="3">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="content-container">
              <app-book-cons-stage-three></app-book-cons-stage-three>

              <div class="content-container__nav">
                <div class="content-container__nav__inner">
                  <p-button
                    label="Back"
                    severity="secondary"
                    icon="pi pi-arrow-left"
                    (onClick)="activateCallback(2)"
                  ></p-button>

                  <p-button
                    label="Next"
                    icon="pi pi-arrow-right"
                    iconPos="right"
                    (onClick)="activateCallback(4)"
                  ></p-button>
                </div>
              </div>
            </div>
          </ng-template>
        </p-step-panel>

        <!-- Stage 4-->
        <p-step-panel [value]="4">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="content-container">
              <app-book-cons-stage-four></app-book-cons-stage-four>

              <div class="content-container__nav">
                <div class="content-container__nav__inner">
                  <p-button
                    label="Back"
                    severity="secondary"
                    icon="pi pi-arrow-left"
                    (onClick)="activateCallback(3)"
                  ></p-button>

                  <p-button
                    label="Next"
                    icon="pi pi-arrow-right"
                    iconPos="right"
                    (onClick)="activateCallback(5)"
                  ></p-button>
                </div>
              </div>
            </div>
          </ng-template>
        </p-step-panel>

        <!-- Stage 5-->
        <p-step-panel [value]="5">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="content-container">
              <app-book-cons-stage-five></app-book-cons-stage-five>

              <div class="content-container__nav">
                <div class="content-container__nav__inner">
                  <p-button
                    label="Back"
                    icon="pi pi-arrow-left"
                    severity="secondary"
                    (onClick)="activateCallback(4)"
                  ></p-button>

                  <p-button
                    label="Next"
                    icon="pi pi-arrow-right"
                    iconPos="right"
                    (onClick)="activateCallback(6)"
                  ></p-button>
                </div>
              </div>
            </div>
          </ng-template>
        </p-step-panel>

        <!-- Stage 6-->
        <p-step-panel [value]="6">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="content-container">
              <app-book-cons-stage-six></app-book-cons-stage-six>

              <div class="content-container__nav">
                <div class="content-container__nav__inner">
                  <p-button
                    label="Back"
                    icon="pi pi-arrow-left"
                    iconPos="right"
                    (onClick)="activateCallback(5)"
                  ></p-button>
                  <div class="btn-placeholder"></div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>
  </div>
</div>
