nav {
  padding: 2rem 6.8rem;
  display: flex;
  justify-content: space-between;
  border-bottom: solid #1616161a 2px;
  margin-bottom: 2.4rem;
}
.nav-logo {
  display: flex;
  align-items: center;
}

.main-logo-img-container {
  position: relative;
  height: 57px;
  width: 132px;

  & img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.lang-li {
  position: relative;
  height: 4.2rem;
  width: 9.2rem;
  overflow: hidden;

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s linear;

    &.eng {
      transform: translateY(-50%);
    }
  }
}

.language-div {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 1rem;
}

.person-li {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  cursor: pointer;
}

.pi-sort-down-fill {
  font-size: 1rem;
}

@media (max-width: 600px) {
  nav {
    padding: 1rem 2rem;
  }
  .nav-actions {
    gap: 1rem;
  }
}
@media (max-width: 450px) {
  nav {
    padding: 0.5rem 0;
  }
  .nav-actions {
    gap: 0.5rem;
  }

  .main-logo-img-container {
    height: 28.5px;
    width: 66px;
  }
}

@media (max-width: 350px) {
  .user-name {
    display: none;
  }
}
