<h2>ᲕᲘᲡᲗᲐᲜ ᲒᲡᲣᲠᲡ ᲙᲝᲜᲡᲣᲚᲢᲐᲪᲘᲐ?</h2>

<ul class="list">
  <li class="list-item">
    <input type="checkbox" class="hidden-check-box" id="first"  />
    <label for="first" class="check--label">
      <span class="check--label-box"></span>
      <span class="check--label-text check--label-text__styling secondary-inner-header-g"
        >პირადი ექიმის კონსულტაცია</span
      >
    </label>
  </li>
  <li class="list-item">
    <input type="checkbox" class="hidden-check-box" id="second" />
    <label for="second" class="check--label">
      <span class="check--label-box"></span>
      <span class="check--label-text check--label-text__styling secondary-inner-header-g"
        >სპეციალისტის კონსულტაცია</span
      >
    </label>
  </li>
  <li class="list-item list-item__disabled">
    <input type="checkbox" class="hidden-check-box" id="third" />
    <label for="third" class="check--label">
      <span class="check--label-box"></span>
      <span class="check--label-text check--label-text__styling secondary-inner-header-g"
        >ინსტრუმენტული კვლევა</span
      >
    </label>
  </li>
</ul>
