<div class="stage-5-container">
  <span class="warn-message">
    <i class="pi pi-exclamation-circle"></i>
    <span>დღის (ხუთ 23 იან) და სათის (19:00 - 19:20) არჩევა სავალდებულოა</span>
  </span>
  <h2>ᲐᲘᲠᲩᲘᲔ ᲡᲐᲡᲣᲠᲕᲔᲚᲘ ᲓᲠᲝ</h2>

  <div class="carousel-container">
    <div class="cur-week-container">
      <i class="pi pi-calendar-plus"></i>
      <span>დღეს - {{ formattedDate() }}</span>
    </div>
    <p-carousel
      [value]="monthDays()"
      [numVisible]="7"
      [numScroll]="7"
      [circular]="false"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-product #item>
        <div class="radio-item">
          <input
            name="daySelection"
            [id]="product.date.toString()"
            type="radio"
            [value]="product"
            (change)="onDateSelect(product)"
          />
          <label [for]="product.date.toString()" class="cal-date-container">
            <span>{{ product.geoWeekDay }}</span>
            <span>{{ product.geoDate }}</span>
          </label>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div class="dropdowns-container">
    @for (data of stageFiveDropdownOptions(); track data.label) {
      <p-floatlabel variant="on">
        <p-select
          [options]="data.options"
          optionLabel="name"
          optionValue="val"
          [inputId]="data.label"
          [id]="data.label"
          [(ngModel)]="data.selectedValue"
          (onChange)="handleChange($event)"
        />
        <label [for]="data.label">{{ data.label }}</label>
      </p-floatlabel>
    }
  </div>

  <p class="specialists-header">სპეციალისტები</p>
  <div class="docs-rime-slots-con">
    @for (doc of docTimeSlotsInfo(); track doc.name) {
      <app-doc-card
        (slotChange)="handleSlotChange($event)"
        (onDocPopup)="showDialog($event)"
        [docInfo]="doc"
      ></app-doc-card>
    }
  </div>
</div>

<p-dialog
  header="ექიმის შესახებ"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: 'max-content' }"
>
  @if (docInfoSignal()) {
    <div class="doc-popup-container">
      <div class="doc-popup-container__mg-n-info">
        <div class="doc-popup-img-placeholder-con">
          <div class="doc-popup-img-placeholder">
            <i class="pi pi-user"></i>
          </div>
        </div>

        <div class="doc-popup-heading-info">
          <span>{{ docInfoSignal()?.name }}</span>
          <span>{{ docInfoSignal()?.speciality }}</span>
        </div>
      </div>

      <p>ექიმის ინფორმაციის ფლეისჰოლდერი</p>

      <div class="doc-popup-container__place-n-info">
        <i class="pi pi-building" style="color: #9199b4"></i>

        <div class="idoc-popup-container__place-n-info__text">
          <span>{{ docInfoSignal()?.clinicName }}</span>
          <span>{{ docInfoSignal()?.clinicAddress }}</span>
        </div>
      </div>
    </div>
  }
</p-dialog>
