.stage-5-container {
  max-width: 1168px;
  margin-bottom: 2.4rem;
}
.pi-calendar-plus {
  color: #292562;
  font-size: 1.6rem;
}

.cur-week-container {
  display: flex;
  gap: 0.8rem;
  border: solid #dee0e8 1px;
  border-radius: 0.4rem;
  width: max-content;
  padding: 1rem 2rem;
}

.carousel-container {
  display: grid;
  grid-template-columns: 20rem 1fr;
  align-items: center;
}

.cal-date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: solid 1px #dee0e8;
  width: max-content;
  border-radius: 1.4rem;
  cursor: pointer;

  & span {
    text-align: center;
    font: normal normal medium 14px/20px Noto Sans Georgian;
    letter-spacing: 0px;
    color: #292562;
    opacity: 1;
  }

  & span:first-child {
    color: #9199b4;
  }
}
.radio-item [type="radio"] {
  display: none;
}

.radio-item [type="radio"]:checked ~ .cal-date-container {
  border: solid 1px #ed1c7c;
  & span {
    color: #ed1c7c;
  }
}

::ng-deep .stage-5-container .p-carousel-indicator-list {
  display: none !important;
}

::ng-deep .stage-5-container .p-carousel-content-container {
  width: 966px;
}

::ng-deep .stage-5-container .p-carousel-content {
  gap: 50px;
}

::ng-deep .p-select {
  min-width: 100%;
  height: 50px;
}

.dropdowns-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
  margin: 2.4rem 0;
}

.specialists-header {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  font-family: "Noto Sans Georgian", sans-serif;
}

.docs-rime-slots-con {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-bottom: 2.4rem;
}

.doc-popup-container {
  &__mg-n-info,
  &__place-n-info {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

.idoc-popup-container__place-n-info__text {
  display: flex;
  flex-direction: column;
}

.doc-popup-img-placeholder-con {
  width: 3rem;
  height: 3rem;
  display: block;
}

.doc-popup-img-placeholder {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ed1c7c;
  border-radius: 50%;

  & i {
    font-size: 1rem;
    color: #fff;
  }
}

.doc-popup-heading-info {
  display: flex;
  flex-direction: column;

  & span {
    font: normal normal medium 14px/19px Noto Sans Georgian;
  }

  & span:first-child {
    color: #ed1c7c;
  }
  & span:last-child {
    color: #9199b4;
  }
}

.warn-message {
  color: red;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 1180px) {
  .carousel-container {
    grid-template-columns: 1fr;
  }
  .cur-week-container {
    display: none;
  }
}

@media (max-width: 980px) {
  ::ng-deep .stage-5-container .p-carousel-content-container {
    width: 700px;
  }
  .dropdowns-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 710px) {
  .carousel-container {
    display: block;
  }
  ::ng-deep .stage-5-container .p-carousel-content-container {
    width: 600px;
  }
  ::ng-deep .stage-5-container .p-carousel-content-container .p-button {
    display: none;
  }
  ::ng-deep
    .stage-5-container
    .p-carousel-content-container
    .p-carousel-content {
    gap: 0;
    justify-content: space-between;
  }
}

@media (max-width: 615px) {
  ::ng-deep .stage-5-container .p-carousel-content-container {
    width: 500px;
  }
  .dropdowns-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 530px) {
  .stage-5-container {
    padding: 0 1.5rem;
  }
  ::ng-deep .stage-5-container .p-carousel-content-container {
    width: 400px;
  }
  .dropdowns-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem auto;
  }
}

@media (max-width: 410px) {
  ::ng-deep .stage-5-container .p-carousel-content-container {
    width: 300px;
  }
  ::ng-deep .stage-5-container .p-carousel {
    margin: 0 auto;
    width: max-content;
  }
}

@media (max-width: 315px) {
  ::ng-deep .stage-5-container .p-carousel-content-container {
    width: 270px;
  }
}
