<div class="stage-6-container">
  <h2>ᲒᲐᲓᲐᲐᲛᲝᲬᲛᲔ ᲯᲐᲕᲨᲐᲜᲘ</h2>
  <div class="reservations">
    @for (res of reservationsSignal(); track res.clinicName) {
      <div class="reservation">
        <div class="doc-container">
          <div class="img-placeholder">
            <i class="pi pi-user"></i>
          </div>

          <div class="doc-info">
            <span class="doc-cart-inner-headers inner-sub-header-g">ექიმი</span>

            <span class="doc-info-inner">
              <span class="inner-sub-header-g">{{ res.doc }}</span>
              <span>&#x2022;</span>
              <span class="inner-sub-header-g">{{ res.speciality }}</span>
            </span>
          </div>
        </div>

        <div class="clinic-info">
          <span class="doc-cart-inner-headers inner-sub-header-g">კლინიკა</span>
          <span class="inner-sub-header-g">{{ res.clinicName }}</span>
          <span class="inner-sub-header-g">{{ res.clinicAddress }}</span>
        </div>

        <div class="visit-time-container">
          <div class="calendar-i-container">
            <i class="pi pi-calendar-times"></i>
          </div>

          <div class="visit-time-inner">
            <span class="doc-cart-inner-headers inner-sub-header-g">ვიზიტის დრო</span>

            <div class="visit-info-inner">
              <span class="inner-sub-header-g">{{ res.time }}</span>
              <span class="inner-sub-header-g">{{ res.geoDate }}</span>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
